apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-cast-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-cast-db
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-cast-db
    spec:
      containers:
      - name: cast-db
        image: {{ .Values.castDB.image.repository }}:{{ .Values.castDB.image.tag }}
        env:
        - name: POSTGRES_USER
          value: {{ .Values.castDB.username }}
        - name: POSTGRES_PASSWORD
          value: {{ .Values.castDB.password }}
        - name: POSTGRES_DB
          value: {{ .Values.castDB.database }}
        ports:
        - containerPort: 5432
